@page {
  size: letter portrait;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --page-width: 8.5in;
  --page-height: 11in;
  --main-width: 5.6in;
  --sidebar-width: calc(var(--page-width) - var(--main-width));
  --decorator-horizontal-margin: 1.2in;

  --sidebar-horizontal-padding: 0.2in;

  /* XXX: using px for very good precision control */
  --decorator-outer-offset-top: 10px;
  --decorator-outer-offset-left: -5.5px;
  --decorator-border-width: 1px;
  --decorator-outer-dim: 9px;
  --decorator-border: 1px solid #ccc;

  --row-blocks-padding-top: 5pt;
  --date-block-width: 0.6in;

  --main-blocks-title-icon-offset-left: -19pt;
}

body {
  width: var(--page-width);
  height: var(--page-height);
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.3;
  color: #444;
  hyphens: auto;
}

h1,
h2,
h3 {
  margin: 0;
  color: #000;
}

li {
  list-style-type: none;
  font-size: 12px;
}

#main {
  float: right;
  width: var(--main-width);
  padding: 0.25in 0.25in 0 0.25in;
  font-size: 7pt;
}

#sidebar {
  float: left;
  position: relative;
  width: var(--sidebar-width);
  height: 100%;
  padding:0.6in var(--sidebar-horizontal-padding);
  background-color: #36506d;
  color: #fffdfd;
}


#title,
h1,
h2 {
  text-transform: uppercase;
  font-family: 'Lucida';
}

#title {
  position: relative;
  margin-bottom: 0.3in;
  line-height: 1.2;
  text-align: center;
}

#title h1 {
  font-weight: 300;
  font-size: 28pt;
  line-height: 1.5;
  text-align: center;
}

#title h1 strong {
  margin: auto 2pt auto 4pt;
  font-weight: 600;
}

.subtitle {
  font-size: 12pt;
}


.main-block {
  margin-top: 0.1in;
}

#main h2 {
  position: relative;
  top: var(--row-blocks-padding-top);
  text-align: center;
  font-weight: 400;
  font-size: 14pt;
  color: rgb(64, 64, 71);
}

#main h2 > i {
  position: absolute;
  left: var(--main-blocks-title-icon-offset-left);
  z-index: 1; /* over decorator line */
  color: rgb(36, 33, 33);
}

#main h2::after {
  /* extends the decorator line */
  height: calc(var(--row-blocks-padding-top) * 2);
  position: relative;
  top: calc(-1 * var(--row-blocks-padding-top));
  /* XXX: 0.5px for aligning fx printing */
  left: calc(-1 * var(--decorator-horizontal-margin));
  display: block;
  border-left: var(--decorator-border);
  z-index: 0;
  line-height: 0;
  font-size: 0;
  content: " ";
}

/**** minor tweaks on the icon fonts ****/
#main h2 > .fa-graduation-cap {
  left: calc(var(--main-blocks-title-icon-offset-left) - 2pt);
  top: 2pt;
}

#main h2 > .fa-suitcase {
  top: 1pt;
}

#main h2 > .fa-folder-open {
  top: 1.5pt;
}

.blocks {
  display: flex;
  flex-flow: row nowrap;
}

.blocks > div {
  padding-top: var(--row-blocks-padding-top);
}


.decorator {
  flex: 0 0 0;
  position: relative;
  width: 2pt;
  min-height: 100%;
  border-left: var(--decorator-border);
}

.decorator::before {
  position: absolute;
  top: var(--decorator-outer-offset-top);
  left: var(--decorator-outer-offset-left);
  content: " ";
  display: block;
  width: var(--decorator-outer-dim);
  height: var(--decorator-outer-dim);
  border-radius: calc(var(--decorator-outer-dim) / 2);
  background-color: #f/ff;
}

.decorator::after {
  position: absolute;
  top: calc(var(--decorator-outer-offset-top) + var(--decorator-border-width));
  left: calc(var(--decorator-outer-offset-left) + var(--decorator-border-width));
  content: " ";
  display: block;
  width: calc(var(--decorator-outer-dim) - (var(--decorator-border-width) * 2));
  height: calc(var(--decorator-outer-dim) - (var(--decorator-border-width) * 2));
  border-radius: calc((var(--decorator-outer-dim) - (var(--decorator-border-width) * 2)) / 2);
  background-color: #555;
}

.blocks:last-child .decorator {
  /* slightly shortens it */
  margin-bottom: 0.25in;
}


.details {
  flex: 1 0 0;
}

.details header {
  color: #000;
}

.details h3 {
  font-size: 11pt;
}

.main-block:not(.concise) .details div {
  margin: 0 0 0 0;
}

.main-block:not(.concise) .blocks:last-child .details div {
  margin-bottom: 0;
}

.details .position-title {
  float: left;
  font-size: 10pt;
  margin: 0, 0, 0, 0;
}

.details .date {
  display: block;
  float: right;
  margin-top: 0.04in;
  margin-bottom: 0.04in;
  font-size: 8pt;
}

.details .location {
  font-size: 7.5pt;
}

.details div {
  clear: both;
}

.details .location::before {
  display: inline-block;
  position: relative;
  right: 3pt;
  top: 0.25pt;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  content: "\f041";
}

.details header {
  padding-bottom: 0.2in;
}


#main ul {
  padding-left: 0.07in;
  margin: 0.08in 0;
}

#main li {
  margin: 0 0 0.025in 0;
  font-size: 11pt;
  font-family: 'Lucida Sans-serif';
}

#main li::before {
  position: relative;
  margin-left: -4.25pt;
  content: "• ";
}

.details .concise ul {
  margin: 0 !important;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}

.details .concise li {
  margin: 0 !important;
}

.details .concise li {
  margin-left: 0 !important;
}

#sidebar h1 {
  font-weight: 400;
  font-size: 11pt;
  color: white;
}

#sidebar h2 {
  color: white;
  font-size: 10pt;
  padding-bottom: 10pt;
}

#sidebar h3 {
  color: white;
  font-size: 10pt;
}

#sidebar h4 {
  color: white;
  font-size: 8pt;
}

#sidebar p {
    padding-right: 2pt;
    font-size: 11pt;
}

.side-block {
  margin-top: 0.28in;
}

.profil-text {
   text-align: justify;
   font-size: 10pt;
   font-family: 'Lucida sans-sherif'
}

#contact ul {
  margin-top: 0.05in;
  padding-left: 0;
  font-weight: 400;
  line-height: 1.75;
}

#contact li {
  padding-top: 0.06in;
  font-size: 10pt;
}

#contact li > .contact-icon {
  text-align: right;
  size: 2pt;
}


.skills {
  line-height: 1.5;
}

.skills ul {
  margin: 0.05in 0 0.05in;
  padding: 0;
}

.acknowledgement {
  position: absolute;
  bottom: var(--sidebar-horizontal-padding);
  right: var(--sidebar-horizontal-padding);
  font-size: 7.5pt;
  font-style: italic;
  line-height: 1.1;
  text-align: right;
  color: #777;
}

.acknowledgement code {
  color: #666;
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: normal;
}

a[href] {
  text-decoration: none;
  color: #444;
}
a[href]:hover {
  text-decoration: underline;
}

body {
  background-color: grey;
}
body > * {
  background-color: white;
}
#main {
  height: var(--page-height);
}
#sidebar {
  height: var(--page-height);
}
.noprint {
  background-color: rgb(116, 40, 40);
}

@media print {
  .noprint {
    display: none
  }
}
